<div class="forms-general mb-3">
  <h2 class="text-center">Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :username,
                  required: true,
                  hint: ("username must be unique") %>

      <%= f.input :photo, as: :file  %>
      <%= f.input :bio,
                  required: true,
                  placeholder: "Tell us a bit about yourself and your family!",
                  hint: ("bio must be at least 100 characters")%>
      <%= f.input :location,
                  required: true,
                  placeholder: "Which part of Berlin do you live in?"%>

    </div>

      <%= f.button :submit, "Sign up", :class => "submit-button-basic w-100" %>

  <% end %>

</div>
