<div class="profile-head text-center upper-space">
  <div class="avatar-box bottom-space-small">
    <%= image_tag @user.avatar, class: 'rounded-circle avatar', style: "width: 130px" %>
  </div>
  <div class="greeting">
    <h2><%= @user.username %></h2>
    <p><%= @user.location %></p>
  </div>
  <div class="profile-links">
    <p><%= @user.bio %></p>
  </div>
</div>

<% unless current_user.friends_with?(@user) || current_user == @user %>
  <%= simple_form_for [@user, @friendship] do |f| %>
    <%= f.submit "Add Amigo", class: "cta-basic-front resize-text w-100"%>
  <% end %>
<% end %>

<div class="dashboard-section">
  <h2>Recent Check-Ins</h2>
</div>

<div class="dashboard-section">
  <h2>Upcoming Events</h2>
</div>
