<div class="profile-head text-center upper-space">
  <div class="avatar-box bottom-space-small">
    <% if @user.photo.attached? %>
      <%= image_tag @user.photo, class: 'rounded-circle avatar orange-stroke', style: "width: 130px" %>
    <% else %>
      <%= image_tag @user.avatar, class: 'rounded-circle avatar orange-stroke', style: "width: 130px" %>
    <% end %>
  </div>
  <div class="greeting">
    <h2><%= @user.username %></h2>
    <% if @user.first_name? %>
      <p><%= @user.first_name %> <%= @user.last_name %> | <%= @user.location %></p>
    <% else %>
      <p><%= @user.location %></p>
    <% end %>
  </div>
  <div class="profile-links">
    <p><%= @user.bio %></p>
  </div>
</div>

<% if @pending.nil? %>
  <% if current_user.friends_with?(@user)  %>
    <div class="cta cta-big bottom-space big">
      <div class="cta-basic w-100">
        <%= link_to "Open Chat", friendship_path(@chatroom), class: "cta-basic-front resize-text" %>
      </div>
    </div>
  <% elsif current_user != @user || current_user %>
    <%= simple_form_for [@user, @friendship] do |f| %>
      <div class="cta-basic bottom-space big">
        <%= f.submit "Add Amigo", class: "cta-basic-front resize-text w-100"%>
      </div>
    <% end %>
  <% end %>
<% else %>
  <% if current_user == @pending.receiver %>
    <div class="cta cta-big bottom-space big">
      <div class="cta-basic w-100">
        <%= simple_form_for @friendships do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: "accepted" } %>
          <%= f.submit "Accept as friend", class: "btn button-small success"%>
        <% end %>
        <%= simple_form_for @friendships do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: "denied" } %>
            <%= f.submit "Deny", class: "btn button-small decline"%>
        <% end %>
      </div>
    </div>
    <% else %>
    <div class="cta cta-big bottom-space big">
      <div class="cta-basic w-100">
        <%= link_to "Pending request", class: "cta-basic-front resize-text" %>
      </div>
    </div>
  <% end %>
<% end %>


<div class="dashboard-section total-space">
  <h2>Recent Check-Ins</h2>

  <% unless current_user.check_ins.empty? %>
    <div class="category-box bottom-space big" data-category-filter-target="filterContainer">
      <div class="category-cards bottom-space">
        <% @user.check_ins.each do |check_in| %>
          <div class="category-card card">
            <% if check_in.place.photos.present? %>
              <div class="img-box">
                <%= cl_image_tag check_in.place.photos[0].key, crop: :fill %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                  <path d="M0,224L60,197.3C120,171,240,117,360,128C480,139,600,213,720,224C840,235,960,181,1080,176C1200,171,1320,213,1380,234.7L1440,256L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
                </svg>
              </div>
            <% end %>
            <div class="category-card-info">
              <%= link_to check_in.place.name.titleize, place_path(check_in.place), class: "stretched-link" %>
              <p class="p-1"><%= check_in.place.address %></p>
            </div>
            <div class="pill detail bumblebee">
              <p>on <%= check_in.created_at.strftime("%d-%m-%y") %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  <% else %>
    <p>No recent check-ins 😔</p>
  <% end %>
</div>

<div class="dashboard-section total-space">
  <h2>Hosted Events</h2>
  <% unless @user.events.empty? %>
    <div class="dashboard-events">
      <% @user.events.each do |event| %>
        <%= render "events/event_card", event: event %>
      <% end %>
    </div>
  <% else %>
    <p>No hosted events 😔</p>
  <% end %>

<div class="dashboard-section total-space">
  <h2>Attending Events</h2>
  <% unless @myacceptedinvites.empty? %>
    <% @myacceptedinvites.each do |event| %>
      <%= render "events/event_card", event: event %>
    <% end %>
  <% else %>
    <p>No attending events 😔</p>
  <% end %>
</div>
