<nav class="navbar-styled fixed-bottom">
  <div class="navbar-icons">
    <div class="navbar-icon">
      <%= link_to root_path do %>
        <%= render "shared/icon", id: Icon.library(:home) %>
      <% end %>
    </div>
    <div class="navbar-icon">
      <%= link_to root_path do %>
        <%= render "shared/icon", id: Icon.library(:search) %>
      <% end %>
    </div>
    <div class="navbar-icon">
      <%= link_to root_path do %>
        <%= render "shared/icon", id: Icon.library(:add_circle) %>
      <% end %>
    </div>
    <div class="navbar-icon active">
      <%= link_to root_path, class: "active" do %>
        <%= render "shared/icon", id: Icon.library(:avatar_circle) %>
      <% end %>
    </div>
  </div>
</nav>
