<nav class="navbar-styled fixed-bottom nav-shadow" data-controller="navbar">
  <div class="navbar-icons">

    <div class="navbar-icon <%= current_page?(search_path) ? 'active' : '' %>">
      <%= link_to search_path do %>
        <%= render "shared/icon", id: Icon.library(:map) %>
      <% end %>
    </div>

    <div class="navbar-icon <%= current_page?(friendships_path) ? 'active' : '' %>">
      <%= link_to friendships_path do %>
        <%= render "shared/icon", id: Icon.library(:chats) %>
      <% end %>
    </div>

    <div class="navbar-icon <%= current_page?(new_place_path) ? 'active' : '' %>">
      <%= link_to new_place_path do %>
        <%= render "shared/icon", id: Icon.library(:add_circle) %>
      <% end %>
    </div>

    <div class="navbar-icon <%= current_page?(dashboard_path) || current_page?(new_user_session_path) ? 'active' : '' %>">
      <% if user_signed_in? %>
        <%= link_to dashboard_path do %>
          <%= render "shared/icon", id: Icon.library(:avatar_circle) %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <%= render "shared/icon", id: Icon.library(:avatar_circle) %>
        <% end %>
      <% end %>
    </div>

  </div>
</nav>
