<%= link_to "Back to #{@event.place.name}", place_path(@event.place) %>

<div class="event-banner semi-thick-border-radius upper-space bottom-space big">
  <% if @event.photo.attached? %>
    <%= cl_image_tag @event.photo.key, width: 400, height: 300, crop: :fill %>
  <% else %>
    <%= cl_image_tag("confetti_bg_a4khq6.jpg") %>
  <% end %>
  <div class="content">
    <h1><%= @event.title %></h1>
  </div>
  <% if @event.public? %>
    <div class="place-category pill bottom-space-small order-2 privacy detail pink">
      <p>Public</p>
    </div>
  <% else %>
    <div class="place-category pill bottom-space-small order-2 detail black">
      <p>Private</p>
    </div>
  <% end %>
</div>

<div class="event-details bottom-space big">
  <div class="detail-row">
    <%= render "shared/icon", id: Icon.library(:marker), myclass: "icon--small icon--pink icon--stroke" %>
    <%= link_to @event.place.name.titleize, place_path(@event.place) %>
  </div>

  <div class="detail-row">
    <%= render "shared/icon", id: Icon.library(:calendar), myclass: "icon--small icon--orange icon--stroke" %>
    <p><%= @event.start_time.strftime("%A, %b %d") %></p>
  </div>

  <div class="detail-row">
    <%= render "shared/icon", id: Icon.library(:clock), myclass: "icon--small icon--green icon--stroke" %>
    <p><%= @event.start_time.strftime("%l:%M") %> to <%= @event.end_time.strftime("%l:%M") %></p>
  </div>

  <div class="detail-row">
    <%= render "shared/icon", id: Icon.library(:avatar_circle), myclass: "icon--small icon--purple icon--stroke" %>
    <p>Created by: <%= link_to @event.user.username, user_path(@event.user) %></p>
  </div>
</div>

<div class="event-description bottom-space-big">
  <p><%= @event.description %></p>
</div>

<div class="event-attendees">
  <h2>Attendees</h2>
  <% @attendees.each do |attendee| %>
    <p><%= attendee.receiver.username %></p>
    <%= image_tag attendee.receiver.avatar %>
  <% end %>

  <% if @event.user == current_user %>
  <div class="event-invite-links">
    <p><%= link_to "Invite friends", new_event_invite_path(@event.id) %></p>
    <p><%= link_to "Edit event", edit_event_path %></p>
    <p><%= link_to "", event_path(@event), class: "fas fa-trash-alt", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
  </div>
  <% end %>
</div>
