<%= link_to "Back to #{@event.place.name}", place_path(@event.place) %>

<div class= "event-content">
  <img src="http://res.cloudinary.com/doztalggg/image/upload/c_fill/v1/development/ankmqvgkov4uoiz6umf0vp4jk5jf" alt="" class="event-image">

  <div class="event-title"><h1><%= @event.title %></h1></div>
</div>

<div class="event-description">
    <p><strong>Where:</strong><%= @event.place.address %></p>
    <p><strong>When:</strong> <%= @event.start_time.strftime("%A, %b %d") %></p>
    <p><strong>From:</strong> <%= @event.start_time.strftime("%l:%M") %></p>
    <p><strong>Until:</strong> <%= @event.end_time.strftime("%l:%M") %></p>
    <p><strong>Hosted by:</strong> <%= @event.user.username %></p>
    <% if @event.public? %>
    <p>This is a public event.</p>
    <% else %>
    <p>This is a private event.</p>
    <% end %>
    <p><%= @event.description %></p>
    <p><strong>Attendees</strong></p>
    <% @attendees.each do |attendee| %>
      <p><%= attendee.receiver.username %></p>
      <%= image_tag attendee.receiver.avatar %>
    <% end %>
    
    <% if @event.user == current_user %>
</div>
  <p><%= link_to "Invite friends", new_event_invite_path(@event.id) %></p>
  <p><%= link_to "Edit event", edit_event_path %></p>
  <p><%= link_to "", event_path(@event), class: "fas fa-trash-alt", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
  <% end %>
