<div class="back-button">
  <%= render "shared/icon", myclass: 'icon--blue', id: Icon.library(:round_left) %>
  <%= link_to "Back to #{@event.place.name.titleize}", place_path(@event.place), class: "stretched-link" %>
</div>

<div class="event-banner semi-thick-border-radius total-space">
  <% if @event.photo.attached? %>
    <%= cl_image_tag @event.photo.key, width: 400, height: 300, crop: :fill %>
  <% else %>
    <%= cl_image_tag("confetti_bg_a4khq6.jpg") %>
  <% end %>
  <div class="content">
    <h1><%= @event.title %></h1>
  </div>
  <% if @event.public? %>
    <div class="place-category pill bottom-space-small order-2 privacy detail green">
      <p>Public</p>
    </div>
  <% else %>
    <div class="place-category pill bottom-space-small order-2 privacy detail pink">
      <p>Private</p>
    </div>
    <% if @event.user == current_user %>
      <div class="edit-event-links">
        <%= link_to "", edit_event_path, class: "fa-solid fa-pen-to-square" %>
        <%= link_to "", event_path(@event), class: "fas fa-trash-alt", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="event-details bottom-space big">
  <div class="detail-row">
    <%= render "shared/icon", id: Icon.library(:marker), myclass: "icon--small icon--pink" %>
    <%= link_to @event.place.name.titleize, place_path(@event.place) %>
  </div>

  <div class="detail-row">
    <%= render "shared/icon", id: Icon.library(:calendar), myclass: "icon--small icon--orange" %>
    <p><%= @event.start_time.strftime("%A, %b %d") %></p>
  </div>

  <div class="detail-row">
    <%= render "shared/icon", id: Icon.library(:clock), myclass: "icon--small icon--green" %>
    <p><%= @event.start_time.strftime("%l:%M") %> to <%= @event.end_time.strftime("%l:%M") %></p>
  </div>

  <div class="detail-row">
    <%= render "shared/icon", id: Icon.library(:avatar_circle), myclass: "icon--small icon--purple" %>
    <p>Created by: <%= link_to @event.user.username, user_path(@event.user) %></p>
  </div>

</div>

<div class="event-description bottom-space-big">
  <p><%= @event.description %></p>
</div>


<% if @event.public? %>
<div data-controller="attendances">
  <%= render("events/attendance_form", {attendance: @attendance, event: @event}) %>
  <div class="event-attendees">
    <h2>Attendees</h2>
    <%= render("events/public_attendees", {attendances: @attendances}) %>
  </div>
</div>

<% else %>
  <div class="event-attendees">
    <h2>Attendees</h2>
    <div class="amigos-box total-space">
      <% if @event.user == current_user %>

        <div class="amigo-avatar" data-bs-toggle="modal" data-bs-target="#inviteModal">
          <button type="button" class="rounded-circle avatar pink-stroke" style= "width: 60px">
            <i class="fa-solid fa-user-plus"></i>
          </button>
          <%= render("events/modal_invite", {event: @event, invite: @invite}) %>
          <p>Invite Amigo</p>
        </div>

      <% end %>

      <% @attendees.each do |attendee| %>
        <div class="amigo-avatar">
          <% if attendee.receiver.photo.attached? %>
            <%= image_tag attendee.receiver.photo, class: 'rounded-circle avatar orange-stroke', style: "width: 60px" %>
          <% else %>
            <%= image_tag attendee.receiver.avatar, class: 'rounded-circle avatar orange-stroke', style: "width: 60px" %>
          <% end %>
          <%= link_to attendee.receiver.username, user_path(attendee.receiver), class: "fw-bold" %>
        </div>
      <% end %>
    </div>



  </div>
<% end %>
