<div class="container chatroom" data-controller="friendship-subscription" data-friendship-subscription-chatroom-id-value="<%=@chatroom.id%>">
  <h1>Chat! with your friend!</h1>

  <div class="messages" data-friendship-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message], html: {class: "d-flex", data: {action: "turbo:submit-end->friendship-subscription#resetForm"}} do |f| %>
  <%= f.input :content,
    label: false,
    placeholder: "Message now",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>

</div>
