<div class="chatroom" data-controller="friendship-subscription" data-friendship-subscription-chatroom-id-value="<%=@chatroom.id%>" data-friendship-subscription-current-user-id-value="<%= current_user.id %>">

  <div class="chat-header">
    <h2 class="text-center">Chat with
      <% if current_user == @chatroom.asker %>
      <%= link_to @chatroom.receiver.username, user_path(@chatroom.receiver) %>
      <% elsif current_user == @chatroom.receiver %>
      <%= link_to @chatroom.asker.username, user_path(@chatroom.asker) %>
      <% end %>
    </h2>
  </div>

  <div class="messages" data-friendship-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
    <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
      <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
      <%= render "messages/message", message: message %>
    </div>
  </div>

    <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message], html: {class: "d-flex", data: {action: "turbo:submit-end->friendship-subscription#resetForm"}} do |f| %>
  <%= f.input :content,
    label: false,
    placeholder: "Message now",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "submit-button-basic mb-3 flex-grow-1" %>
<% end %>

</div>
