<%# <div class="dashboard-nav"> %>
  <%# render "shared/icon", myclass: 'icon--pink', id: Icon.library(:heart) %>
  <%# render "shared/icon", myclass: 'icon--orange', id: Icon.library(:envelope) %>
  <%# render "shared/icon", myclass: 'icon--yellow', id: Icon.library(:bell) %>
<%# </div> %>

<div class="profile-head text-center upper-space">
  <div class="avatar-box bottom-space-small">
    <%= image_tag current_user.avatar, class: 'rounded-circle avatar orange-stroke', style: "width: 130px" %>
  </div>
  <div class="greeting">
    <h2>Hey, <%= link_to current_user.username, user_path(current_user)%>!</h2>
  </div>
</div>

<div class="dashboard-section total-space">
  <h2>My Amigos</h2>
  <% @myfriends.each do |f| %>
    <% if current_user == f.asker %>
      <div class="amigo-avatar">
        <%= image_tag f.receiver.avatar, class: 'rounded-circle avatar green-stroke', style: "width: 60px" %>
        <%= link_to f.receiver.username, user_path(f.receiver), class: "fw-bold" %>
      </div>
      <% elsif current_user == f.receiver %>
        <div class="amigo-avatar">
          <%= image_tag f.asker.avatar, class: 'rounded-circle avatar green-stroke', style: "width: 60px" %>
          <%= link_to f.asker.username, user_path(f.asker), class: "fw-bold" %>
        </div>
    <% end %>
  <% end %>
</div>

<div class="dashboard-section total-space">
  <h2>Pending Requests </h2>

  <% @friendship.each do |friend| %>
    <%= friend.asker.username %>
    <%= image_tag friend.asker.avatar %>
    <%= friend.status %>

    <%= simple_form_for friend do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: "accepted" } %>
      <%= f.submit "Accept", class: "btn btn-success"%>
    <% end %>

    <%= simple_form_for friend do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: "denied" } %>
      <%= f.submit "Deny", class: "btn btn-danger"%>
    <% end %>
  <% end %>

  <% @invites.each do |invite| %>
    <p>You got a new invitation for <%= invite.event.title %></p>
    <p>From <%= invite.asker.username %> that is <strong><%= invite.status %></strong></p>

    <%= simple_form_for invite do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: "accepted" } %>
      <%= f.submit "Accept", class: "btn btn-success"%>
    <% end %>

    <%= simple_form_for invite do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: "denied" } %>
      <%= f.submit "Deny", class: "btn btn-danger"%>
    <% end %>
  <% end %>
</div>

<div class="dashboard-section total-space">
  <h2>Favorites</h2>
</div>

<div class="dashboard-section total-space">
  <h2>Recent Check-Ins</h2>
</div>

<div class="dashboard-section total-space">
  <h2>Upcoming Events</h2>

  <% @sortedevents.each do |event| %>
    <%= render "events/event_card", event: event %>
  <% end %>

  <%# @myevents.each do |event| %>
    <%# render "events/event_card", event: event %>
  <%# end %>

  <h2>Find more Amigos!</h2>

  <%= render("user_search") %>

  <%# @myacceptedinvites.each do |i| %>
    <%# render "events/event_card", event: event %>
  <%# end %>
</div>
