<%# <div class="dashboard-nav"> %>
  <%# render "shared/icon", myclass: 'icon--pink', id: Icon.library(:heart) %>
  <%# render "shared/icon", myclass: 'icon--orange', id: Icon.library(:envelope) %>
  <%# render "shared/icon", myclass: 'icon--yellow', id: Icon.library(:bell) %>
<%# </div> %>

<div class="profile-head text-center upper-space">
  <div class="avatar-box bottom-space-small">
    <%= image_tag current_user.avatar, class: 'rounded-circle avatar orange-stroke', style: "width: 130px" %>
  </div>
  <div class="greeting">
    <h2>Hey, <%= link_to current_user.username, user_path(current_user)%>!</h2>
  </div>
</div>

<div class="dashboard-section total-space">
  <div class="with-link">
    <h2>My Amigos</h2>
    <div class="icon-text" data-bs-toggle="modal" data-bs-target="#addAmigoModal">
      <%= render "shared/icon", myclass: 'icon--pink', id: Icon.library(:plus) %>
      <p>Find New Amigo</p>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addAmigoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content thick-border-radius">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Find New Amigo!</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= render("user_search") %>
          </div>
        </div>
      </div>
    </div>

  </div>

  <% unless current_user.friends.empty? %>
    <div class="amigos-box">
      <% @myfriends.each do |f| %>
        <% if current_user == f.asker %>
          <div class="amigo-avatar">
            <%= image_tag f.receiver.avatar, class: 'rounded-circle avatar green-stroke', style: "width: 60px" %>
            <%= link_to f.receiver.username, user_path(f.receiver), class: "fw-bold" %>
          </div>
          <% elsif current_user == f.receiver %>
            <div class="amigo-avatar">
              <%= image_tag f.asker.avatar, class: 'rounded-circle avatar green-stroke', style: "width: 60px" %>
              <%= link_to f.asker.username, user_path(f.asker), class: "fw-bold" %>
            </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p>No Amigos 😔</p>
  <% end %>
</div>

<div class="dashboard-section total-space">
  <h2>Pending Requests </h2>

  <div class="friend-request-box requests">

    <% @friendship.each do |friend| %>
      <div class="request-box semi-thick-border-radius">

        <div class="amigo-avatar">
          <%= image_tag friend.asker.avatar, class: 'rounded-circle avatar pink-stroke', style: "width: 60px" %>
          <%= link_to friend.asker.username, user_path(friend.asker), class: "fw-bold" %>
          <%# friend.status %>
        </div>

        <div class="request-buttons">
          <%= simple_form_for friend do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: "accepted" } %>
            <%= f.submit "Accept", class: "btn button-small success"%>
          <% end %>

          <%= simple_form_for friend do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: "denied" } %>
            <%= f.submit "Deny", class: "btn button-small decline"%>
          <% end %>
        </div>

      </div>
    <% end %>

  </div>

  <div class="event-invitation-box requests">

    <% @invites.each do |invite| %>
      <p>You got a new invitation for <%= invite.event.title %></p>
      <p>From <%= invite.asker.username %> that is <strong><%= invite.status %></strong></p>

      <%= simple_form_for invite do |f| %>
        <%= f.input :status, as: :hidden, input_html: { value: "accepted" } %>
        <%= f.submit "Accept", class: "btn btn-success"%>
      <% end %>

      <%= simple_form_for invite do |f| %>
        <%= f.input :status, as: :hidden, input_html: { value: "denied" } %>
        <%= f.submit "Deny", class: "btn btn-danger"%>
      <% end %>
    <% end %>

  </div>

</div>

<div class="dashboard-section total-space">
  <h2>Favorited Places</h2>
  <% unless current_user.all_favorited.empty? %>
    <div class="category-box bottom-space big">
      <div class="category-cards bottom-space">
      <% current_user.all_favorited.each do |favorite| %>
        <div class="category-card card favorite">
          <% if favorite.photos.present? %>
            <div class="img-box">
              <%= cl_image_tag favorite.photos[0].key, crop: :fill %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path d="M0,224L60,197.3C120,171,240,117,360,128C480,139,600,213,720,224C840,235,960,181,1080,176C1200,171,1320,213,1380,234.7L1440,256L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
              </svg>
            </div>
          <% end %>
          <div class="category-card-info">
            <%= link_to favorite.name.titleize, place_path(favorite), class: "stretched-link" %>
            <p class="p-1"><%= favorite.address %></p>
          </div>
          <div class="favorite-marker">
            <%= render "shared/icon", myclass: 'icon--stroke', id: Icon.library(:heart) %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  <% else %>
    <p>No favorites 😔</p>
  <% end %>
</div>

<div class="dashboard-section total-space">
  <h2>Recent Check-Ins</h2>

  <% unless current_user.check_ins.empty? %>
    <div class="category-box bottom-space big">
      <div class="category-cards bottom-space">
        <% current_user.check_ins.each do |check_in| %>
          <div class="category-card card">
            <% if check_in.place.photos.present? %>
              <div class="img-box">
                <%= cl_image_tag check_in.place.photos[0].key, crop: :fill %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                  <path d="M0,224L60,197.3C120,171,240,117,360,128C480,139,600,213,720,224C840,235,960,181,1080,176C1200,171,1320,213,1380,234.7L1440,256L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
                </svg>
              </div>
            <% end %>
            <div class="category-card-info">
              <%= link_to check_in.place.name.titleize, place_path(check_in.place), class: "stretched-link" %>
              <p class="p-1"><%= check_in.place.address %></p>
            </div>
            <div class="pill detail bumblebee">
              <p>on <%= check_in.created_at.strftime("%d-%m-%y") %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <p>No recent check-ins 😔</p>
  <% end %>
</div>

<div class="dashboard-section total-space">
  <h2>Upcoming Events</h2>

  <div class="dashboard-events">
    <% @sortedevents.each do |event| %>
      <%= render "events/event_card", event: event %>
    <% end %>
  </div>

</div>
