<h1>Hello, <%= current_user.username %></h1>

<h2>Favorites</h2>


<h2>Last check-in</h2>

<h2>Friend list</h2>

<% @myfriends.each do |f| %>
  <% if current_user == f.asker %>
    <%= f.receiver.username %>
    <%= image_tag f.receiver.avatar %>
    <% else %>
    <%= f.asker.username %>
    <%= image_tag f.asker.avatar %>
  <% end %>
<% end %>

<h3>Pending Requests</h3>


<% @friendship.each do |friend| %>
  <%= friend.asker.username %>
  <%= image_tag friend.asker.avatar %>
  <%= friend.status %>

  <%= simple_form_for friend do |f| %>
    <%= f.input :status, as: :hidden, input_html: { value: "accepted" } %>
    <%= f.submit "Accept", class: "btn btn-success"%>
  <% end %>

  <%= simple_form_for friend do |f| %>
    <%= f.input :status, as: :hidden, input_html: { value: "denied" } %>
    <%= f.submit "Deny", class: "btn btn-danger"%>
  <% end %>

<% end %>

<h3>My next Event! </h3>

<% @myevents.each do |e| %>
  <p><%= e.title %></p>
  <p><%= e.start_time %></p>
<% end %>

<% @myacceptedinvites.each do |i| %>
  <%= i.event.title %>
  <%= i.event.start_time %>
<% end %>


<h3>My pending Invites</h3>
<% @invites.each do |invite| %>
  <p>You got a new invitation for <%= invite.event.title %></p>
  <p>From <%= invite.asker.username %> that is <strong><%= invite.status %></strong></p>

  <%= simple_form_for invite do |f| %>
    <%= f.input :status, as: :hidden, input_html: { value: "accepted" } %>
    <%= f.submit "Accept", class: "btn btn-success"%>
  <% end %>

  <%= simple_form_for invite do |f| %>
    <%= f.input :status, as: :hidden, input_html: { value: "denied" } %>
    <%= f.submit "Deny", class: "btn btn-danger"%>
  <% end %>

<% end %>
