<div class="logo-banner">
  <%= image_tag "staggered_logo" %>
  <div class="logo-tagline">
    <h2>A place to play wherever you go!</h2>
  </div>
</div>

<div class="search-box">
  <div class="search-input">
    <p class="input-text":>Find a place near you...</p>
  </div>
  <div class="search-icon">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
</div>

<div class="category-box">
  <h1>Newest Playplaces</h1>
  <div class="category-cards">
    <% @places.sample(3).each do |place| %>
    <div class="wrapper">
      <div class="category-card">
        <img src="https://images.unsplash.com/photo-1596997000103-e597b3ca50df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80" alt="playground">
        <div class="category-card-info">
          <%= link_to place.name, place_path(place) %>
          <p><%= place.name %></p>
          <p><%= place.address %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="attention">
  <h1>Browse categories:</h1>
  <div class="button-box">
    <button class="button-basic">
      <span class="front">
        big slides
      </span>
    </button>
    <button class="button-basic">
      <span class="front">
        big slides
      </span>
    </button>
  </div>
  <p><%= link_to "View all playareas", places_path %><p>
</div>

<div class="btn cta cta-big">
  <div class="cta-basic">
    <%= link_to "Become an Amigo!", new_user_registration_path %>
  </div>
</div>

<div class="perks">
  <p>Meet families in your neighbourhood!</p>
  <p>Set up playdates and parties!</p>
  <p>Find fun playareas year round!</p>
  <p>...and more!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et nemo rerum, ut quas dicta molestiae repudiandae temporibus voluptas. Consectetur blanditiis excepturi mollitia, deleniti iusto maxime quasi vitae minus nisi nesciunt?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam mollitia saepe, autem molestiae ipsam eos provident quam est, ipsum unde nihil doloremque quos! Cumque, nam. Hic inventore harum labore corporis!</p>
</div>
