<div class="logo-banner">
  <%= image_tag "staggered_logo.png" %>
  <div class="logo-tagline">
    <h2>A place to play wherever we go!</h2>
  </div>
</div>

<div class="search-box bottom-space big">
  <div class="search-input">
    <p class="input-text":>Find a place near you...</p>
  </div>
  <div class="search-icon">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
</div>

<div class="filter-box" data-controller="category-filter" data-category-filter-url-value="<%= places_path %>">

  <div class="categories">
    <%# <h2 class="header big text-center">Browse Categories</h2> %>
    <div class="button-box bottom-space upper-gap">
      <button class="button-basic button-basic-blue" data-action="click->category-filter#filter">
        <span class="front front-blue" data-category-filter-target="button">
          Newest
        </span>
      </button>
      <button class="button-basic button-basic-yellow" data-action="click->category-filter#filter">
        <span class="front front-yellow" data-category-filter-target="button">
          Popular</span>
      </button>
      <button class="button-basic button-basic-purple" data-action="click->category-filter#filter">
        <span class="front front-purple" data-category-filter-target="button">
          All Ages</span>
      </button>
      <button class="button-basic button-basic-orange" data-action="click->category-filter#filter">
        <span class="front front-orange" data-category-filter-target="button">
          Kindercafe
        </span>
      </button>
    </div>
  </div>

  <%= render "category_cards", places: @places %>

</div>

<div class="box text-center bottom-space big">
  <%= link_to "View all playareas", places_path, class: "text-center" %>
</div>

<div class="perks">
  <h2 class="text-center">Join our community to ... </h2>
  <div class="perk">
    <%= render "shared/icon", id: Icon.library(:bubbles) %>
    <p>...meet families in your neighbourhood!</p>
  </div>
  <div class="perk">
    <%= render "shared/icon", id: Icon.library(:balloons) %>
    <p>...set up playdates and parties!</p>
  </div>
  <div class="perk bottom-space big">
    <%= render "shared/icon", id: Icon.library(:tearcalendar) %>
    <p>...find fun playareas year round!</p>
  </div>
</div>

<div class="cta cta-big bottom-space big">
  <div class="cta-basic w-100">
    <%= link_to "Become an Amigo!", new_user_registration_path, class: "cta-basic-front resize-text" %>
  </div>
</div>
