<h2>Leave a review!</h2>
<%= simple_form_for [@place, @review] do |f| %>
  <%= f.input :cleanliness, collection: (1..5).to_a, label: "Cleanliness", input_html: {data: {controller: "star-rating"}} %>
  <%= f.input :condition, collection: (1..5).to_a, label: "Condition", input_html: {data: {controller: "star-rating"}} %>
  <%= f.input :age_appropriate, collection: (1..5).to_a, label: "Age Appropriate-ness", input_html: {data: {controller: "star-rating"}} %>
  <%= f.input :fun_factor, collection: (1..5).to_a, label: "Fun Factor", input_html: {data: {controller: "star-rating"}} %>
  <%= f.input :comment, label: "Anything else another Amigo should know?" %>
  <%= f.submit "Send your review", class: "btn btn-primary mt-2" %>
<% end %>
