<div class="mx-auto justify-content-center upper-space">
  <div class="show-box-wrapper">
    <ul class="nav wall nav-pills justify-content-center" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Wall</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Events</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Reviews</button>
      </li>
    </ul>
  </div>

  <div class="show-wall mt-3 bottom-space big">
    <% if user_signed_in? %>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" data-controller="comments">
        <% unless @place.comments.empty? %>
          <div class="comments-display col-12" data-comments-target="comment">
              <% @place.comments.each do |comment| %>
                <%= render partial: "places/display_comments", locals: {comment: comment} %>
              <% end %>
          </div>
          <hr>
        <% end %>
        <div class="comment-form col-12" >
          <p class="px-1">Add your comment to the wall:</p>
          <%= render partial: "places/comment_form", locals: {place: @place, comment: @comment } %>
        </div>
      </div>

      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <%# <h2 class="toggler-header">Events</h2> %>
        <% if Event.where(place: @place, public: true).blank? && @my_hosted_and_accepted_events.blank? %>
          <p>No upcoming events 😔</p>
        <% end %>
        <% Event.where(place: @place, public: true).each do |event| %>
          <%= render "events/event_card", event: event %>
        <% end %>
        <% @my_hosted_and_accepted_events.each do |event| %>
          <%= render "events/event_card", event: event %>
        <% end %>
        <p class="submit-button-basic justify-content-center text-center"><%= link_to "Create a new event at #{@place.name.titleize}", new_place_event_path(@place) %></p>
      </div>


      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" data-controller="reviews">
        <%# <% if @place.reviews.blank? %>
          <%# <p>No reviews yet 😔</p> %>
        <%# <% end %>
        <div data-reviews-target="items">
          <% unless @place.reviews.blank? %>
            <div class="reviews-display col-12">
              <div class="">

                <% if @place.reviews.any?%>
                  <% @place.reviews.each do |r| %>
                    <%= render partial: "places/display_reviews", locals: {r: r } %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <hr>
          <% end %>
            <div class="form-review col-12 <%= "d-none" unless @check_in_current_user.exists? %>">
              <h2 class="toggler-header">Leave a review!</h2>
              <%= render partial: "places/review_form", locals: {place: @place, review: @review } %>
            </div>
            <p class="px-1 pb-3 <%= "d-none" if @check_in_current_user.exists? %> ">You should at least check in once to leave a review!</p>
        </div>
      </div>


    </div>
    <% else %>
        <div class="not-signed-in">
          <%= render "shared/icon", myclass: 'icon--purple', id: Icon.library(:sadface) %>
          <p>Uh-oh! This content is only viewable by an AMIGO!</p>
          <div class="links d-flex w-100 justify-content-center">
            <%= link_to "Login", new_user_session_path, class: "btn button-small orange" %>
            <%= link_to "Become an Amigo!", new_user_registration_path, class: "btn button-small blue" %>
          </div>
        </div>
    <% end %>
  </div>
</div>
