<%= link_to "Back to search", places_path %>


<div class="" data-controller="favorite">
    <div class="<%=current_user.favorited?(@place) ? "un" : "" %>favorite">
      <%= link_to favoriter_place_path(@place), data: { favorite_target: "link" } do %>
        <i class="<%=current_user.favorited?(@place) ? "fas" : "far" %> fa-heart" data-action="click->favorite#toggled"></i>
      <% end %>
    </div>
  </div>



<div class="place-data upper-space bottom-space big">
  <div class="place-category pill bottom-space-small">
    <p><%= @place.category.capitalize %></p>
  </div>
  <h1><%= @place.name %></h1>
  <div class="place-address">
    <p><%= @place.address %></p>
    <%= render "shared/icon", id: Icon.library(:map), myclass: 'flex-b-s-g-default' %>
  </div>
  <div class="place-rating">
    <%# @place_avg_rating  %>
    <% if @place_avg_rating == 0 %>
        <p>No Rating Yet</p>
      <% else %>
        <div class="stars">
          <% @place_avg_rating.to_i.times do %>
            <i class="fa-solid fa-star"></i>
          <% end %>
        </div>
    <% end %>
    <%# Average rating calculation for place is in the places controller %>
    <a href="/">Read all Reviews</a>
  </div>
  <div class="place-activity">
    <strong class="byline">Last Updated: <%= Date.today %> by <span><%= @place.user.username %></span></strong>
  </div>
</div>


<div data-controller="check-in">
  <div class="place-image-carousel bottom-space">
    <% if @place.photos.present? %>
      <div class="place-image-box">
        <%= cl_image_tag @place.photos[0].key, crop: :fill %>
      </div>
    <% end %>
    <div class="pill detail pink">
      <%= render("check_ins/check_ins_count", {check_ins: @check_ins}) %>
    </div>
  </div>


  <div class="cta cta-big bottom-space">
    <div class="cta-basic w-100">
      <%= render("places/check_ins_form", {check_in: @check_in, place: @place}) %>
    </div>
  </div>
</div>

<p>There have been <%= @check_ins_all.count %> total check-ins here!</p>

<div class="place-description">
  <p class="text-justify"><%= @place.description %></p>
</div>

<div class="place-icons two-row-grid bottom-space">
  <div class="div1">
    <%= render "shared/icon", myclass: 'icon--purple icon--stroke', id: Icon.library(:child) %>
    <p>Ages: <%= @place.age_range.capitalize %></p>
  </div>
  <div class="div2">
      <%= render "shared/icon", myclass: 'icon--blue icon--stroke', id: Icon.library(:cleanhand) %>
    <p>Clean</p>
  </div>
  <div class="div3">
    <%= render "shared/icon", myclass: 'icon--green icon--stroke', id: Icon.library(:laughing) %>
    <p>Super Fun!</p>
  </div>
</div>


<%= render "toggler" %>


<%# TODO: add logic to display public events to all and private events to those invited %>
