<%= link_to "Back to search", places_path %>

<h1><%= @place.name %></h1>
<p><%= @place.category.capitalize %></p>
<p><%= @place.address %></p>
<p>Rating: TBA</p>
<p>Read all reviews</p>

<h3>Check in button!</h3>

<p><%= @place.description %></p>
<p>Age range: <%= @place.age_range %></p>

<h3>Wall/Events/Reviews</h3>

<% if user_signed_in? %>
<h4>Events:</h4>
<% @place.events.each do |event| %>
  <p><%= link_to event.title, event_path(event) %></p>
<% end %>
<p><%= link_to "Create a new event at #{@place.name}", new_place_event_path(@place) %></p>
<% else %>
<p>Sorry, you must be signed in to view Wall/Events/Reviews.</p>
<% end %>
