<%= link_to "Back to search", places_path %>

<div class="place-data bottom-space big">
  <h1><%= @place.name %></h1>
  <div class="place-category pill">
    <p><%= @place.category.capitalize %></p>
  </div>
  <div class="place-address">
    <p class="bigger-font"><%= @place.address %></p>
    <%= render "shared/icon", id: Icon.library(:map) %>
  </div>
  <div class="place-rating">
    <%# @place_avg_rating  %>
    <% if @place_avg_rating == 0 %>
        <p>No Rating Yet</p>
      <% else %>
        <div class="stars">
          <% @place_avg_rating.to_i.times do %>
            <i class="fa-solid fa-star"></i>
          <% end %>
        </div>
    <% end %>
    <%# Average rating calculation for place is in the places controller %>
    <a href="/">Read all Reviews</a>
  </div>
  <div class="place-activity">
    <strong class="byline">Last Updated: <%= Date.today %> by <span><%= @place.user.username %></span></strong>
  </div>
</div>

<div data-controller="check-in">
  <div class="place-image-carousel bottom-space">
    <div class="place-image-box">
      <%= cl_image_tag @place.photos[0].key, crop: :fill %>
    </div>
    <div class="pill detail">
      <%= render("check_ins/check_ins_count", {check_ins: @check_ins}) %>
    </div>
  </div>

  <div class="cta cta-big bottom-space">
    <div class="cta-basic w-100">
      <%= render("places/check_ins_form", {check_in: @check_in, place: @place}) %>
    </div>
  </div>
</div>

<%# Original link code: %>
<%# <%= link_to "Check In", new_user_registration_path, class: "cta-basic-front resize-text" %>

<%# Button_to code: %>
<%# <%= button_to "Check In", place_check_ins_path(@place), method: :post, class: "cta-basic-front resize-text", data: { check_in_target: "button", action: "click->check-in#send" } %>


<div class="place-description">
  <p class="text-justify"><%= @place.description %></p>
</div>

<div class="place-icons two-row-grid">
  <div class="div1">
    <%= render "shared/icon", id: Icon.library(:child) %>
    <p>Ages: <%= @place.age_range.capitalize %></p>
  </div>
  <div class="div2">
    <p>Clean</p>
  </div>
  <div class="div3">
    <p>Super Fun!</p>
  </div>
</div>

<h3>Wall/Events/Reviews</h3>

<%# TODO: add logic to display public events to all and private events to those invited %>

<% if user_signed_in? %>
  <div class="container">
    <div class="row">
      <div class="reviews-display col-12 col-lg-6">
        <%= render partial: "places/display_reviews", locals: {place: @place } %>
      </div>
      <div class="form-review col-12 col-lg-6">
        <%= render partial: "places/review_form", locals: {place: @place, review: @review } %>
      </div>
    </div>
  </div>
  <h4>Events:</h4>
    <% @place.events.each do |event| %>
      <p><%= link_to event.title, event_path(event) %></p>
    <% end %>
    <p><%= link_to "Create a new event at #{@place.name}", new_place_event_path(@place) %></p>
<% else %>
    <p>Sorry, you must be signed in to view Wall/Events/Reviews.</p>
    <p><%= link_to "Become an Amigo!", new_user_registration_path %></p>
<% end %>
