<%# link_to "Back to search", places_path %>
<div class="place-data bottom-space big">
  <div class="showbar">
    <div class="place-category pill bottom-space-small order-2">
      <%= link_to search_path(query: @place.category), class: "text-decoration-none" do %>
        <%= @place.category.capitalize %>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <div class="<%=current_user.favorited?(@place) ? "un" : "" %>favorite" data-controller="favorite">
        <%= link_to favoriter_place_path(@place), data: { favorite_target: "link" } do %>
          <i class="<%=current_user.favorited?(@place) ? "fas" : "far" %> fa-heart fs-4" data-action="click->favorite#toggled"></i>
        <% end %>
      </div>
    <% end %>
    <%= link_to search_path(query: @place.name) do %>
      <%= render "shared/icon", myclass: 'icon--pink', id: Icon.library(:map) %>
    <% end %>
  </div>

  <h1><%= @place.name.titleize %></h1>
  <div class="place-address">
    <p><%= @place.address %></p>
  </div>
  <div class="place-rating">
    <%# @place_avg_rating  %>
    <% unless @place_avg_rating == 0 %>
      <div class="stars d-flex">
        <% @place_avg_rating.to_i.times do %>
          <%= render "shared/icon", id: Icon.library(:star) %>
        <% end %>
      </div>
      <p>(<%= @place.reviews.count %>)</p>
    <% end %>
    <%# Average rating calculation for place is in the places controller %>
  </div>
  <div class="place-activity">
    <p class="byline">Added by: <%= link_to @place.user.username, user_path(@place.user) %> </p>
  </div>
</div>


<div data-controller="check-in">
  <div class="place-image-carousel bottom-space">
    <% if @place.photos.present? %>
      <div class="place-image-box">
        <%= cl_image_tag @place.photos[0].key, crop: :fill %>
      </div>
    <% end %>
    <div class="pill detail pink">
      <%= render("check_ins/check_ins_count", {check_ins: @check_ins}) %>
    </div>
  </div>


  <div class="cta cta-big bottom-space mt-3">
    <div class="cta-basic w-100">
      <%= render("places/check_ins_form", {check_in: @check_in, place: @place}) %>
    </div>
  </div>
</div>

<% if @check_ins_all.count > 1  %>
  <p class="text-center tiny">(There have been <%= @check_ins_all.count %> total check-ins here!)</p>
<% end  %>

<div class="place-description mt-3">
  <p class="text-justify"><%= @place.description %></p>
</div>

<div class="place-icons two-row-grid bottom-space upper-space">
  <div class="div">
    <%= render "shared/icon", myclass: 'icon--purple icon--stroke', id: Icon.library(:child) %>
    <p>Ages: <%= @place.age_range.capitalize %></p>
  </div>
  <% if @cleanliness > 4 %>
    <div class="div">
        <%= render "shared/icon", myclass: 'icon--blue icon--stroke', id: Icon.library(:cleanhand) %>
      <p>Clean!</p>
    </div>
  <% end %>
  <% if @fun_factor > 4 %>
    <div class="div">
      <%= render "shared/icon", myclass: 'icon--green icon--stroke', id: Icon.library(:laughing) %>
      <p>Super Fun!</p>
    </div>
  <% end %>
  <% if @condition > 4 %>
    <div class="div">
      <%= render "shared/icon", myclass: 'icon--pink icon--stroke', id: Icon.library(:tools) %>
      <p>Great Condition!</p>
    </div>
  <% end %>

</div>


<%= render "toggler" %>

<%# TODO: add logic to display public events to all and private events to those invited %>
