<%= link_to "Back to search", places_path %>

<h1><%= @place.name %></h1>
<p><%= @place.category.capitalize %></p>
<p><%= @place.address %></p>
<p>Rating: TBA</p>
<p>Read all reviews</p>

<h3>Check in button!</h3>

<p><%= @place.description %></p>
<p>Age range: <%= @place.age_range %></p>

<h3>Wall/Events/Reviews</h3>

<div class="col-12 col-lg-6">
    <h2 class="">Leave your review</h2>
      <%= simple_form_for [@place, @review] do |f| %>
        <%= f.input :cleanliness, collection: (1..5).to_a, label: "Rate the cleanliness?" %>
        <%= f.input :condition, collection: (1..5).to_a, label: "The conditions were good?" %>
        <%= f.input :age_appropriate, collection: (1..5).to_a, label: "Age appropriated?" %>
        <%= f.input :fun_factor, collection: (1..5).to_a, label: "Fun factor?" %>
        <%= f.input :comment, label: "Leave your comments!" %>
        <%= f.submit "Send your review", class: "btn btn-primary mt-2" %>
      <% end %>
</div>

<% if user_signed_in? %>
<h4>Events:</h4>
<% @place.events.each do |event| %>
  <p><%= link_to event.title, event_path(event) %></p>
<% end %>
<% else %>
<p>Sorry, you must be signed in to view Wall/Events/Reviews.</p>
<% end %>
<p><%= link_to "Create a new event at #{@place.name}", new_place_event_path(@place) %></p>
