<%= link_to "Back to search", places_path %>

<h1><%= @place.name %></h1>
<p><%= @place.category.capitalize %></p>
<p><%= @place.address %></p>
<p>Rating: TBA</p>
<p>Read all reviews</p>

<h3>Check in button!</h3>

<p><%= @place.description %></p>
<p>Age range: <%= @place.age_range %></p>

<h3>Wall/Events/Reviews</h3>

<h4>Events:</h4>
<% @place.events.each do |event| %>
  <%= link_to event.title, event_path(event) %>
<% end %>

<p><%= link_to "Create a new event at #{@place.name}", new_place_event_path(@place) %></p>
