<!DOCTYPE html>
<html>
  <head>
    <title>Amigos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container mt-3 pb-3">
      <%= render "shared/flashes" %>
      <%= yield %>
    </div>
    <%= render "shared/navbar" %>
  </body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</html>
