<!DOCTYPE html>
<html>
  <head>
    <title>Amigos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/sprites" %>
    <% unless current_page?(root_path) %>
      <%= render "shared/homebar" %>
    <% end %>
    <div class="container mt-3 full-wrapper">
      <%= render "shared/flashes" %>
      <%= yield %>
    </div>
      <%= render "shared/navbar" %>
  </body>
</html>
